{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        // Minimum verisions to support:
        "targets": {
          "browsers": "> 5%"
          // "chrome": "50",
          // "ie": "11"
        },
        // TODO: Maybe set to false if you're a lib:
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    // Proposals probably aren't in babel-env, so we the ones we want here:
    "@babel/proposal-class-properties",
    "@babel/plugin-proposal-export-default-from"
  ],
  "env": {
    "test": {
      "plugins": []
    }
  }
}