:root {
    --red: #d33;
}

.hello {
    color: green;
}

.flex {
    display: flex;
    color: var(--red);
    border: solid black 1px;
    border-radius: 5px;
    &_foo {
        color: blue;
    }
}
